.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;

    .nameContainer {
      margin-bottom: -30px;
    }
    
    .options {
      margin-top: 10px;
      .option {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }